*{
    color:#fff;
}

.home{
    .elem{
        input{
            background-color: rgb(106, 163, 217);
            padding: 10px ;
            width: 300px;
            outline: none;
        }
    }
}